.sidenav {
  background-color: rgb(22, 87, 122);
  box-sizing: border-box;
  height: 10%;
  left: 0;
  overflow-y: hidden;
  padding: 12px;
  position: fixed;
  top: 0;
  transition: .3s;
  width: 100%;
}
.sidenav a {
  color: white;
  float: right;
  font-family: "system-ui";
  opacity: 0.5;
  padding: 8px 8px 8px 8px;
  text-align: center;
  text-decoration: none;
}

a:hover {
  opacity: 1;
}

.navbar-nav {
  list-style: none;
}
.logo-display {
  height: 40%;
  width:  40%;
}


section {
  margin: 7% 3%;
  padding: 8px 8px 8px 8px;
}

h1 {
  color: #7a6b16;
  font-size: 36px;
  margin-top: 1%;
  z-index: 1;
}
h2 {
  color: #7a6b16;
  font-size: 28px;
}
h3 {
  color: #7a6b16;
  font-size: 28px;
}

h4 {
  color: #7a6b16;
  font-size: 28px;
}

#privins {
  font-size: 28px;
}

#pshai_par {
  display: block;
}
#ising_par {
  display: block;
}
#zz {
  box-shadow: 10px 10px 5px #ccc;
  display: inline-block;
}
#isingimg {
  box-shadow: 10px 10px 5px #ccc;
  display: inline-block;
}
#presshmap {
  box-shadow: 10px 10px 5px #ccc;
  display: inline-block;
}

#fdensity {
  box-shadow: 10px 10px 5px #ccc;
  display: inline-block;
}

#rod {
  box-shadow: 10px 10px 5px #ccc;
  display: inline-block;
}
.audio_list {
  list-style: none;
}
